<nav class="navbar navbar-expand-md  border-bottom sticky-top navbar1">
    <div class="container-fluid">
      <a href="/listings">
        <div class="logo">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/1200px-Airbnb_Logo_B%C3%A9lo.svg.png">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" href="/listings">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New List</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
          <a class="nav-link " aria-current="page" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Login </a>
          <% } %>
          <% if(currentUser) { %>
          <a class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>