<% layout("/layouts/boilerplate") %>

<!-- About section start -->
<section class="about_section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center mt-2">
        <h2 class="section-title">About Us</h2>
        <p class="section-subtitle">
         <b>PrimeStay: Your Journey Begins with Us – Where Every Stay is Crafted to Redefine Comfort, Inspire Memories, and Feel Like Home, No Matter Where You Go!</b>
        </p>
      </div>
    </div>
    <div class="row align-items-center py-3">
      <div class="col-lg-6 col-12 ">
        <img
          src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI="
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 col-12 ">
        <div class="about-content">
          <div class="about-details">
            <p class="perah"><b>Welcome to PrimeStay</b></p>
            <p>
              your ultimate destination for finding the
              perfect place to stay, whether you're traveling for business,
              leisure, or a quick getaway. At PrimeStay, we believe that a
              comfortable and memorable stay begins with seamless planning and
              exceptional accommodations. Our platform is designed to connect
              travelers with a wide variety of accommodations, ranging from cozy
              apartments and budget-friendly rooms to luxurious villas and
              unique homestays. We strive to offer something for everyone,
              ensuring an unforgettable experience tailored to your needs and
              preferences
            </p>
            <p class="perah"> <b>Our Mission</b> </p>
            <p>
              At PrimeStay, our mission is to simplify the process
              of finding and booking accommodations while delivering a platform
              that is both user-friendly and comprehensive. We aim to provide
              our users with the tools they need to discover, book, and enjoy
              their ideal stays effortlessly.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center py-2">
      <div class="col-lg-6 col-12 order-2 order-lg-1">
        <p class="perah"> <b>Why Choose PrimeStay ?</b> </p>
        <p>
          Diverse Options: Explore an extensive range of listings
          to find the perfect match for your travel plans. Clean & User-Friendly
          Interface: Our intuitive design ensures a hassle-free browsing and
          booking experience. Trusted Listings: We prioritize transparency and
          reliability to provide you with trusted and verified accommodation
          options. Responsive Support: Our dedicated team is always ready to
          assist you with any questions or concerns, ensuring a smooth
          experience from start to finish.
        </p>
        <p class="perah"> <b>Our Vision</b> </p>
        <p>
          We envision PrimeStay as more than just a booking
          platform; we aspire to be your trusted travel companion, helping you
          create lifelong memories by offering spaces that feel like home, no
          matter where you are.
        </p>
      </div>
      <div class="col-lg-6 col-12 order-1 order-lg-2">
        <div class="about-content">
          <div class="about-details">
            <img
              src="https://w0.peakpx.com/wallpaper/371/159/HD-wallpaper-luxurious-hotel-five-star-hotel-hotel-luxury-hotel.jpg"
              alt="About"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About section end -->






<div class="container mt-5">
  <div class="row mx-0 d-flex justify-content-evenly">
    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://img.freepik.com/premium-photo/home-interior-designs_1197721-15886.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Welcome to PrimeStay</h5>
        <p class="card-text">
          Find your perfect stay with ease, Explore luxury and comfort.
        </p>
        <a href="/listings/home" class="btn add-btn mb-2">Home</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d7826c6a-6070-4016-acb1-03af25b929cb/7326ce7b-73b8-4819-aee1-0a8f78536f91.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Get In Touch</h5>
        <p class="card-text">
          Need assistance? Reach out to us for queries, or feedback.
        </p>
        <a href="/listings/contact" class="btn add-btn mb-2">Contact Us</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d7826c6a-6070-4016-acb1-03af25b929cb/7301f99c-3c92-4b1a-bba5-9c5f07501400.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Explore All Listings</h5>
        <p class="card-text">Browse a wide variety of premium hotels.</p>
        <a href="/listings" class="btn add-btn mb-2">Explore</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/e5af4dd1-0a24-4cee-bee3-8755dfed8dec/4fbeea20-9253-49cc-9685-ee1ef93e566c.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Know Us Better</h5>
        <p class="card-text">Discover the story behind PrimeStay</p>
        <a href="/listings/about" class="btn add-btn mb-2">About Us</a>
      </div>
    </div>
  </div>
</div>