<% layout("/layouts/boilerplate") %>

<div class="hero-image">
  <div></div>
  <img
    src="https://media.architecturaldigest.com/photos/659d9cb42446c7171718ecf0/master/w_1600%2Cc_limit/atr.royalmansion-bedroom2-mr.jpg"
  />

  <div class="overlay-content">
    <h1>Short Term Rental Hotel In India</h1>
    <p>
      Discover your home away from home in India, ideal for both leisure and
      business stays
    </p>
    <a href="/listings" class="btn add-btn2">Explore Now</a>
  </div>
</div>

<div class="container mt-5">
  <div class="row mx-0 d-flex justify-content-evenly">
    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://img.freepik.com/premium-photo/home-interior-designs_1197721-15886.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Welcome to PrimeStay</h5>
        <p class="card-text">
          Find your perfect stay with ease, Explore luxury and comfort.
        </p>
        <a href="/signup" class="btn add-btn mb-2">Create Account</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d7826c6a-6070-4016-acb1-03af25b929cb/7326ce7b-73b8-4819-aee1-0a8f78536f91.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Get In Touch</h5>
        <p class="card-text">
          Need assistance? Reach out to us for queries, or feedback.
        </p>
        <a href="/listings/contact" class="btn add-btn mb-2">Contact Us</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d7826c6a-6070-4016-acb1-03af25b929cb/7301f99c-3c92-4b1a-bba5-9c5f07501400.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Explore All Listings</h5>
        <p class="card-text">Browse a wide variety of premium hotels.</p>
        <a href="/listings" class="btn add-btn mb-2">Explore</a>
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/e5af4dd1-0a24-4cee-bee3-8755dfed8dec/4fbeea20-9253-49cc-9685-ee1ef93e566c.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Know Us Better</h5>
        <p class="card-text">Discover the story behind PrimeStay</p>
        <a href="/listings/about" class="btn add-btn mb-2">About Us</a>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center py-2">
  <div class="col-lg-6 col-12 order-2 order-lg-1">
    <div class="outer-div">
      <div class="super-inner-div">
        <div class="inner-div d-flex">
          <div class="inner-div-icon card">
            <img
              src="https://ggfx-primestay.s3.eu-west-2.amazonaws.com/x/56x56/icon_13cfe04b72.webp"
            />
          </div>
          <div class="inner-div-content">24/7 castoumor service</div>
        </div>
      </div>

      <div class="super-inner-div">
        <div class="inner-div d-flex">
          <div class="inner-div-icon card">
            <img
              src="https://ggfx-primestay.s3.eu-west-2.amazonaws.com/x/56x56/icon_e41c7bf8f7.webp"
            />
          </div>
          <div class="inner-div-content">Just One Tap WiFi Access</div>
        </div>
      </div>

      <div class="super-inner-div">
        <div class="inner-div d-flex">
          <div class="inner-div-icon card">
            <img
              src="https://ggfx-primestay.s3.eu-west-2.amazonaws.com/x/56x56/icon_11cbde8398.webp"
            />
          </div>
          <div class="inner-div-content">Request late checkout</div>
        </div>
      </div>

      <div class="super-inner-div">
        <div class="inner-div d-flex">
          <div class="inner-div-icon card">
            <img
              src="https://ggfx-primestay.s3.eu-west-2.amazonaws.com/x/56x56/icon_7ac0b8fe0a.webp"
            />
          </div>
          <div class="inner-div-content">Provides Peace Of Mind</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-12 order-1 order-lg-2">
    <div class="about-content">
      <div class="about-details">
        <img
          src="https://thumbs.dreamstime.com/b/happy-family-having-pillow-fight-living-room-happy-family-having-pillow-fight-room-172136399.jpg"
          alt="About"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 text-center mt-2">
    <h2 class="section-title">Prime Locations</h2>
    <p class="section-subtitle">
      <b
        >"Discover Prime Locations: Experience the Perfect Blend of Comfort and
        Elegance at the Most Sought-After Destinations!"</b
      >
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="row mx-0 d-flex justify-content-evenly">
    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://t3.ftcdn.net/jpg/03/55/64/04/360_F_355640480_FKKv2BQwqY6sMa6jmEGVPnEndX1GPtJU.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Mumbai, City of Dreams</h5>
        <p class="card-text">
          Stay amidst the vibrant iconic skyline of India's financial hub
        </p>
        <a
          href="https://www.booking.com/searchresults.en-gb.html?label=bombay-pSL2HGiBTkqpoCuxX3FYFAS388396519185%3Apl%3Ata%3Ap1480%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-1666339357%3Alp9145069%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YdbYVqXDN8zp7PNDFvT66M8&gclid=Cj0KCQiA3sq6BhD2ARIsAJ8MRwXlsjvwbBTEmdZRyDyx3Wgugg4xjSXEjpOjqeQgoF6E7cLemZJA7n4aAp8JEALw_wcB&aid=377400&dest_id=-2092174&dest_type=CITY&nflt=class%3D5%3B"
          class="btn add-btn mb-2"
          >Visit</a
        >
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://images.pexels.com/photos/3672388/pexels-photo-3672388.jpeg?cs=srgb&dl=pexels-shalenderkumar-3672388.jpg&fm=jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Delhi, The Heart of India</h5>
        <p class="card-text">
          Explore history, culture, and modern luxury in the capital city.
        </p>
        <a
          href="https://www.booking.com/city/in/new-delhi.en.html?aid=373420;label=city-new-delhi-K0poL0pD4Ws6ZXTd2fWu1QS476693556124:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-571351605:lp9145069:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9Ydj4ck6nIj5YRjPru0SpaEk;ws=&gclid=Cj0KCQiA3sq6BhD2ARIsAJ8MRwVMyVSX9IyrjNriGRI7Aqf4VBNwvXsBX0Qu1-y24ErctlilHpKbN7UaAvCJEALw_wcB"
          class="btn add-btn mb-2"
          >Visit</a
        >
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgSnqLtqOC_TIFbmPCaFiOw97Eef_A8P5glA&s"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Goa, The Beach Paradise</h5>
        <p class="card-text">Relax by beaches nightlife of Goa</p>
        <a
          href="https://www.booking.com/region/in/goa.en.html?aid=1610833;label=goa-T*YKfJeOmy8hJ*HdOwNRJAS541060374874:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-417086508198:lp9145069:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9YTiRJUvwM0AZLEcK3RQ9LlA;ws=&gclid=Cj0KCQiA3sq6BhD2ARIsAJ8MRwUcQWY-qd0hiUm3YpMWgA8M5BuDVUqXv0_LolrPmVNdfSESI5P05SYaAnUvEALw_wcB"
          class="btn add-btn mb-2"
          >Visit</a
        >
      </div>
    </div>

    <div class="card hover-effect card-home" style="width: 18rem">
      <img
        src="https://media.istockphoto.com/id/1398087835/photo/pink-palace-hawa-mahal-jaipur-india-beautiful-sunset-view.jpg?s=612x612&w=0&k=20&c=S8X6bk4Mdp0xu624dFZCHfobotdwdIp7K1FEQJV6hkI="
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title mt-2">Jaipur, The Pink City</h5>
        <p class="card-text">Immerse yourself in royal heritage and colorful traditions</p>
        <a href="https://www.booking.com/city/in/jaipur.en.html?aid=373420;label=city-jaipur-xRDCtG*dqWiUszvzTVjlOgS388510664044:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-1398323448:lp9145069:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9Ydj4ck6nIj5YRjPru0SpaEk;ws=&gclid=Cj0KCQiA3sq6BhD2ARIsAJ8MRwWpPkRqw31V5lsDSUjqlpXPlt6au5zNmhlN4DoWdZBOEs3ZVGX7UpQaAoZuEALw_wcB" class="btn add-btn mb-2">Visit</a>
      </div>
    </div>
  </div>
</div>
